.wrapper {
    padding: 60px 15px 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 50px; */
    z-index: 10;
    overflow: hidden;

}

.wrapper>ul {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px 20px;
    flex-grow: 1;
    align-items: baseline;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 80px;

}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    row-gap: 25px;
    padding-top: 50px;
}

.wrapper>ul>li {
    position: relative;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    cursor: pointer;
    flex-basis: 32.83%;
    padding-bottom: 21.66%;
    flex-basis: 31.25%;
    padding-bottom: 20.25%;


}

.wrapper>ul>li.image-item>img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);


}

.wrapper>ul>li .favorite {
    /* position: absolute; */
    order: 2;
}

.image-actions {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5%;
    right: 5%;
}

.download-btn {
    transition: 0.5s;
}

.download-btn:hover {
    transform: scale(1.2);
}

.download-btn img {}

.favorite svg {
    transition: 0.5s;
    fill: transparent;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.favorite svg {
    width: 35px;
}

.added svg {
    fill: #CC4444;
    fill: #fff;
    fill: #ffe4c4;
}

.favorite.added svg,
.wrapper>ul>li .favorite:hover svg {
    fill: #CC4444;
    fill: #fff;
    fill: #ffe4c4;
}


@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0;
    }
}

@media (max-width:1280px) {

    /* .wrapper>ul {
        /* grid-template-columns: repeat(2, 460px) !important; 
        grid-template-columns: repeat(2, 38.3%) !important;
    }*/










}